{% extends 'profile/profile_base.html.twig' %}

{% block profile_body %}

    <div class="row">
        {# Formulář - vyhledávací pole, řazení, lifecycle #}
        {{ include('fragments/forms_unique/_form_search_sort_dropdown.html.twig', {form: searchForm}) }}
    </div>

    <div class="row">
        <h4>Výsledky ({{ pagination.getTotalItems() }})</h4>

        {% if orders is empty %}
            Hledání neodpovídají žádné objednávky.
        {% else %}
            <div class="collection">
                {% for order in orders %}
                    <div class="collection-item valign-wrapper">
                        <div class="col s9 no-padding left-align">
                            <strong>Objednávka č. {{ order.id }}</strong>
                            <span>- {% if order.createdManually %}Na míru{% else %}Z katalogu{% endif %}</span>
                            <span>- {{ order.getLifecycleChapterName() }}</span>
                        </div>

                        <div class="col s3 no-padding right-align">
                            <a href="{{ path('profile_order', {id: order.id}) }}" class="tooltipped" data-position="bottom" data-tooltip="Zobrazit">
                                <i class="fas fa-eye"></i>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {# Pagination #}
    {{ include('fragments/_pagination.html.twig') }}

{% endblock %}