{% extends 'profile/profile_base.html.twig' %}

{% block profile_body %}

    <div class="section">
        <div class="row">
            <h3 class="no-mar-top">Osobní údaje</h3>
        </div>

        <div class="row">
            E-mail: {{ app.user.email }}<br>
            Datum registrace: {{ app.user.registered|date('d. m. Y H:i:s') }}<br>
        </div>
    </div>

    {% if personalDataForm is not null %}
        <div class="section">
            {{ form_start(personalDataForm) }}
                <div class="row">
                    <label>Oslovení:</label>
                    <br>
                    {% for key, choiceItem in personalDataForm.gender.children %}
                        <label>
                            {{ form_widget(choiceItem, {'attr': {'class': 'with-gap'}}) }}
                            <span>{{ choiceItem.vars.label }}</span>
                        </label>
                        <br>
                    {% endfor %}

                    <span class="helper-text red-text">{{ form_errors(personalDataForm.gender) }}</span>
                </div>
                <br>

                <div class="row">
                    <div class="input-field">
                        {{ form_widget(personalDataForm.nameFirst) }}
                        {{ form_label(personalDataForm.nameFirst, 'Křestní jméno') }}
                    </div>
                    <span class="helper-text red-text">{{ form_errors(personalDataForm.nameFirst) }}</span>
                </div>

                <div class="row">
                    <div class="input-field">
                        {{ form_widget(personalDataForm.nameLast) }}
                        {{ form_label(personalDataForm.nameLast, 'Příjmení') }}
                    </div>
                    <span class="helper-text red-text">{{ form_errors(personalDataForm.nameLast) }}</span>
                </div>

                <div class="row">
                    <div class="input-field">
                        {{ form_widget(personalDataForm.phoneNumber) }}
                        {{ form_label(personalDataForm.phoneNumber, 'Telefon') }}
                    </div>
                    <span class="helper-text red-text">{{ form_errors(personalDataForm.phoneNumber) }}</span>
                </div>

                <div class="row">
                    <label>
                        {{ form_widget(personalDataForm.agreePrivacy, {'attr': {'class': 'filled-in checkbox-light-blue'}}) }}
                        <span>Souhlasím se zpracováním osobních údajů</span>
                    </label>
                    <span class="helper-text red-text">{{ form_errors(personalDataForm.agreePrivacy) }}</span>
                </div>
                <br>

                <div class="center-align">
                    <button type="submit" class="waves-effect waves-light btn-large light-blue">Uložit</button>
                </div>
            {{ form_end(personalDataForm) }}
        </div>
    {% endif %}

{% endblock %}