{% extends 'profile/profile_base.html.twig' %}

{% block profile_subheading_extra %}
    <a href="{{ path('profile_address') }}" class="btn-floating btn-medium waves-effect waves-light blue"><i class="material-icons">add</i></a>
{% endblock %}

{% block profile_body %}

    <div class="row">
        {# Formulář - vyhledávací pole, řazení #}
        {{ include('fragments/forms_unique/_form_search_order.html.twig', {form: searchForm}) }}
    </div>

    <div class="row">
        <h4>Výsledky ({{ pagination.getTotalItems() }})</h4>

        {% if addresses is empty %}
            Hledání neodpovídají žádné adresy.
        {% else %}
            <div class="col s12">
                {% for address in addresses %}
                    <div class="row">
                        <div class="card white black-text">
                            <div class="card-content">
                                <span class="card-title">{{ address.getAlias() }}</span>
                                <div class="row margin-0">
                                    <div class="col s6 no-padding">Jméno a příjmení:</div>
                                    <div class="col s6 no-padding">
                                        <strong>{{ address.getFullName() }}</strong>
                                    </div>
                                </div>

                                <div class="row margin-0">
                                    <div class="col s6 no-padding">Země:</div>
                                    <div class="col s6 no-padding">
                                        <strong>{{ address.getCountry() }}</strong>
                                    </div>
                                </div>

                                <div class="row margin-0">
                                    <div class="col s6 no-padding">Ulice a č. popisné:</div>
                                    <div class="col s6 no-padding">
                                        <strong>{{ address.getStreet() }}</strong>
                                    </div>
                                </div>

                                {% if address.getAdditionalInfo() is not null %}
                                    <div class="row margin-0">
                                        <div class="col s6 no-padding">Doplněk adresy:</div>
                                        <div class="col s6 no-padding">
                                            <strong>{{ address.getAdditionalInfo() }}</strong>
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="row margin-0">
                                    <div class="col s6 no-padding">Obec:</div>
                                    <div class="col s6 no-padding">
                                        <strong>{{ address.getTown() }}</strong>
                                    </div>
                                </div>

                                <div class="row margin-0">
                                    <div class="col s6 no-padding">PSČ:</div>
                                    <div class="col s6 no-padding">
                                        <strong>{{ address.getZip() }}</strong>
                                    </div>
                                </div>

                                {% if address.getCompany() is not null or address.getIc() is not null or address.getDic() is not null %}
                                    <br>
                                {% endif %}

                                {% if address.getCompany() is not null %}
                                    <div class="row margin-0">
                                        <div class="col s6 no-padding">Název firmy:</div>
                                        <div class="col s6 no-padding">
                                            <strong>{{ address.getCompany() }}</strong>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if address.getIc() is not null %}
                                    <div class="row margin-0">
                                        <div class="col s6 no-padding">IČ:</div>
                                        <div class="col s6 no-padding">
                                            <strong>{{ address.getIc() }}</strong>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if address.getDic() is not null %}
                                    <div class="row margin-0">
                                        <div class="col s6 no-padding">DIČ:</div>
                                        <div class="col s6 no-padding">
                                            <strong>{{ address.getDic() }}</strong>
                                        </div>
                                    </div>
                                {% endif %}

                            </div>
                            <div class="card-action">
                                <a href="{{ path('profile_address', {id: address.getId()}) }}">Upravit</a>
                                <a href="{{ path('profile_address_delete', {id: address.getId()}) }}">Smazat</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {# Pagination #}
    {{ include('fragments/_pagination.html.twig') }}

{% endblock %}