{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        {# Breadcrumbs #}
        {{ include('fragments/_breadcrumbs.html.twig') }}

        <div class="container">
            {# h1 #}
            {{ include('fragments/_h1.html.twig', {route: app.request.get('_route')}) }}

            {# Flash zprávy #}
            {{ include('fragments/_flash_messages.html.twig') }}

            <br>
            <form method="post">
                <div class="row">
                    <div class="input-field">
                        <label for="inputEmail" class="required">Email:</label>
                        <input type="email" value="{{ lastUsername }}" name="email" id="inputEmail" required="required" autofocus="autofocus"/>

                        {% if error %}
                            <ul>
                                <li>
                                    <span class="helper-text red-text">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="input-field">
                        <label for="inputPassword" class="required">Heslo:</label>
                        <input type="password" id="inputPassword" name="password" required="required"/>
                    </div>
                </div>

                {# <input type="hidden" name="_target_path" value="/account"/> #}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="center-align">
                    <button type="submit" class="waves-effect waves-light btn-large light-blue">Přihlásit se</button>
                    <br><br>
                    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <div>
                            Ještě nemáte účet? <a href="{{ path('register') }}">Zaregistrovat se</a>
                        </div>
                    {% endif %}
                    <div>
                        Zapomněli jste heslo? <a href="{{ path('forgot_password_request') }}">Obnovit</a>
                    </div>
                </div>
            </form>

            <br><br>
            <div class="divider"></div>

            {# Social login #}
            {{ include('fragments/_social_login.html.twig', {actionName: 'přihlásit'}) }}
        </div>
    </div>
    <br><br>

{% endblock %}
