{% set route = app.request.get('_route') %}

<div class="collection">
    {% if can_enter_admin %} {# proměnná nastavovaná v base.html.twig #}
        <a href="{{ path('admin_permission_overview') }}" class="collection-item {% if route == 'admin_permission_overview' %} active {% endif %}">
            {{ get_parameter('app_page_title.admin_permission_overview') }}
        </a>
    {% endif %}

    {% if is_granted('admin_user_management') %}
        <a href="{{ path('admin_user_management') }}" class="collection-item {% if route == 'admin_user_management' or route == 'admin_user_management_specific' %} active {% endif %}">
            {{ get_parameter('app_page_title.admin_user_management') }}
        </a>
    {% endif %}

    {% if is_granted('admin_product_sections') %}
        <a href="{{ path('admin_product_sections') }}" class="collection-item {% if route == 'admin_product_sections' or route == 'admin_product_section_edit' or route == 'admin_product_section_delete' %} active {% endif %}">
            {{ get_parameter('app_page_title.admin_product_sections') }}
        </a>
    {% endif %}

    {% if is_granted('admin_product_categories') %}
        <a href="{{ path('admin_product_categories') }}" class="collection-item {% if route == 'admin_product_categories' or route == 'admin_product_category_edit' or route == 'admin_product_category_delete' %} active {% endif %}">
            {{ get_parameter('app_page_title.admin_product_categories') }}
        </a>
    {% endif %}
</div>