<div class="row">
    <h4>Základní informace</h4>

    <div class="card white black-text">
        <div class="card-content">
            <div class="row margin-0">
                <div class="col s6 m5 no-padding">ID:</div>
                <div class="col s6 m7 no-padding">
                    <strong>{{ order.id }}</strong>
                </div>
            </div>

            <div class="row margin-0">
                <div class="col s6 m5 no-padding">Typ:</div>
                <div class="col s6 m7 no-padding">
                    <strong>{{ order.getTypeName() }}</strong>
                </div>
            </div>

            <div class="row margin-0">
                <div class="col s6 m5 no-padding">Stav:</div>
                <div class="col s6 m7 no-padding">
                    <strong>{{ order.getLifecycleChapterName() }}</strong>
                </div>
            </div>

            <div class="row margin-0">
                <div class="col s6 m5 no-padding">Vytvořeno:</div>
                <div class="col s6 m7 no-padding">
                    <strong>{{ order.finishedAt|date('d. m. Y H:i:s') }}</strong>
                </div>
            </div>

            <div class="row margin-0">
                <div class="col s6 m5 no-padding">Doběrečné:</div>
                <div class="col s6 m7 no-padding">
                    <strong>{{ order.cashOnDelivery }} Kč</strong>
                </div>
            </div>
        </div>
    </div>
</div>

{% if order.isCancelled() %}
    <div class="row">
        <h4>Důvod zrušení</h4>

        <div class="card white black-text">
            <div class="card-content">
                <div class="row margin-0">
                    <div class="col s12 no-padding">
                        {% if order.cancellationReason is null %}
                            <em>Důvod neuveden</em>
                        {% else %}
                            <span>{{ order.cancellationReason }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="row">
    <h4>Kontaktní údaje</h4>

    <div class="card white black-text">
        <div class="card-content">
            <div class="row margin-0">
                <div class="col s6 m5 no-padding">E-mail:</div>
                <div class="col s6 m7 no-padding">
                    <strong>{{ order.email }}</strong>
                </div>
            </div>

            <div class="row margin-0">
                <div class="col s6 m5 no-padding">Telefonní číslo:</div>
                <div class="col s6 m7 no-padding">
                    <strong>{{ order.phoneNumber|phone_number_format('INTERNATIONAL') }}</strong>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <h4>Dodací adresa</h4>

    <div class="card white black-text">
        <div class="card-content">
            <div class="row margin-0">
                <div class="col s6 m5 no-padding">Jméno a příjmení:</div>
                <div class="col s6 m7 no-padding">
                    <strong>{{ order.addressDeliveryNameFirst }} {{ order.addressDeliveryNameLast }}</strong>
                </div>
            </div>

            <div class="row margin-0">
                <div class="col s6 m5 no-padding">Země:</div>
                <div class="col s6 m7 no-padding">
                    <strong>{{ order.addressDeliveryCountry }}</strong>
                </div>
            </div>

            <div class="row margin-0">
                <div class="col s6 m5 no-padding">Ulice a č. p.:</div>
                <div class="col s6 m7 no-padding">
                    <strong>{{ order.addressDeliveryStreet }}</strong>
                </div>
            </div>

            {% if order.addressDeliveryAdditionalInfo is not null %}
                <div class="row margin-0">
                    <div class="col s6 m5 no-padding">Doplňek adresy:</div>
                    <div class="col s6 m7 no-padding">
                        <strong>{{ order.addressDeliveryAdditionalInfo }}</strong>
                        <em>{% if order.deliveryMethodLocksDeliveryAddress %}(ID výdejního místa){% endif %}</em>
                    </div>
                </div>
            {% endif %}

            <div class="row margin-0">
                <div class="col s6 m5 no-padding">Obec:</div>
                <div class="col s6 m7 no-padding">
                    <strong>{{ order.addressDeliveryTown }}</strong>
                </div>
            </div>

            <div class="row margin-0">
                <div class="col s6 m5 no-padding">PSČ:</div>
                <div class="col s6 m7 no-padding">
                    <strong>{{ order.addressDeliveryZip }}</strong>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <h4>Fakturační adresa</h4>

    <div class="card white black-text">
        <div class="card-content">
            <div class="row margin-0">
                <div class="col s6 m5 no-padding">Jméno a příjmení:</div>
                <div class="col s6 m7 no-padding">
                    <strong>{{ order.addressBillingNameFirst }} {{ order.addressBillingNameLast }}</strong>
                </div>
            </div>

            <div class="row margin-0">
                <div class="col s6 m5 no-padding">Země:</div>
                <div class="col s6 m7 no-padding">
                    <strong>{{ order.addressBillingCountry }}</strong>
                </div>
            </div>

            <div class="row margin-0">
                <div class="col s6 m5 no-padding">Ulice a č. p.:</div>
                <div class="col s6 m7 no-padding">
                    <strong>{{ order.addressBillingStreet }}</strong>
                </div>
            </div>

            {% if order.addressBillingAdditionalInfo is not null %}
                <div class="row margin-0">
                    <div class="col s6 m5 no-padding">Doplňek adresy:</div>
                    <div class="col s6 m7 no-padding">
                        <strong>{{ order.addressBillingAdditionalInfo }}</strong>
                    </div>
                </div>
            {% endif %}

            <div class="row margin-0">
                <div class="col s6 m5 no-padding">Obec:</div>
                <div class="col s6 m7 no-padding">
                    <strong>{{ order.addressBillingTown }}</strong>
                </div>
            </div>

            <div class="row margin-0">
                <div class="col s6 m5 no-padding">PSČ:</div>
                <div class="col s6 m7 no-padding">
                    <strong>{{ order.addressBillingZip }}</strong>
                </div>
            </div>

            {% if order.addressBillingCompany is not null or order.addressBillingIc is not null or order.addressBillingDic is not null %}
                <br>
            {% endif %}

            {% if order.addressBillingCompany is not null %}
                <div class="row margin-0">
                    <div class="col s6 m5 no-padding">Firma:</div>
                    <div class="col s6 m7 no-padding">
                        <strong>{{ order.addressBillingCompany }}</strong>
                    </div>
                </div>
            {% endif %}

            {% if order.addressBillingIc is not null %}
                <div class="row margin-0">
                    <div class="col s6 m5 no-padding">IČ:</div>
                    <div class="col s6 m7 no-padding">
                        <strong>{{ order.addressBillingIc }}</strong>
                    </div>
                </div>
            {% endif %}

            {% if order.addressBillingDic is not null %}
                <div class="row margin-0">
                    <div class="col s6 m5 no-padding">DIČ:</div>
                    <div class="col s6 m7 no-padding">
                        <strong>{{ order.addressBillingDic }}</strong>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <h4>Produkty</h4>

    <div class="collection z-depth-1">
        <div class="collection-item hide-on-med-and-down">
            <div class="row no-mar-bot">
                <div class="col s8">
                    <span>Produkt</span>
                </div>
                <div class="col s2">
                    <span>Cena za kus {% if vat_payer %}vč. DPH{% endif %}</span>
                </div>
                <div class="col s2">
                    <span>Celkem {% if vat_payer %}vč. DPH{% endif %}</span>
                </div>
            </div>
        </div>

        {% for cartOccurence in order.cartOccurences %}
            <div class="collection-item">
                <div class="row no-mar-bot valign-wrapper flex-wrap section">

                    {# Obrázek, název, volby #}
                    {% if cartOccurence.product is null %}
                        <div class="col s12 l8">
                            <div>
                                <strong class="margin-0">{{ cartOccurence.quantity }}x {{ cartOccurence.name }}</strong>
                                <em>(ID nenalezeno)</em>
                            </div>
                            <span class="grey-text">{{ cartOccurence.optionsString }}</span>
                        </div>
                    {% else %}
                        {% set product_path = path('product', {slug: cartOccurence.product.slug}) %}

                        <div class="col s12 l8 valign-wrapper">
                            <a href="{{ product_path }}" class="margin-right15px">
                                <div class="img-cart-product">
                                    <img alt="Obrázek produktu" class="responsive-img" src="{% if cartOccurence.product.mainImageName %} {{ asset(cartOccurence.product.mainImageName, 'product_images') }}  {% else %} {{ asset('no-image.png', 'images') }} {% endif %}">
                                </div>
                            </a>
                            <a href="{{ product_path }}">
                                <strong class="margin-0">{{ cartOccurence.quantity }}x {{ cartOccurence.name }} (ID: {{ cartOccurence.product.id }})</strong>
                                <div class="grey-text">{{ cartOccurence.optionsString }}</div>
                            </a>
                        </div>
                    {% endif %}

                    {# Cena za kus #}
                    <div class="col s6 l2">
                        <span>{{ cartOccurence.priceWithVat }} Kč {% if vat_payer %}vč. DPH{% endif %}</span>
                        <span class="hide-on-large-only hide-on-extra-large-only">za kus</span>
                    </div>

                    {# Cena za kus * počet kusů #}
                    <div class="col s6 l2">
                        <strong>
                            {{ cartOccurence.priceWithVat * cartOccurence.quantity }} Kč {% if vat_payer %}vč. DPH{% endif %}
                            <span class="hide-on-large-only hide-on-extra-large-only">celkem</span>
                        </strong>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="row">
    <h4>Doručovací metoda</h4>

    <div class="card white black-text">
        <div class="card-content">
            <div class="row margin-0">
                <div class="col s6 m5 no-padding">Název:</div>
                <div class="col s6 m7 no-padding">
                    <strong>{{ order.deliveryMethodName }}</strong>
                </div>
            </div>

            <div class="row margin-0">
                <div class="col s6 m5 no-padding">Cena:</div>
                <div class="col s6 m7 no-padding">
                    <strong>{{ order.deliveryPriceWithVat }} Kč {% if vat_payer %}vč. DPH{% endif %}</strong>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <h4>Platební metoda</h4>

    <div class="card white black-text">
        <div class="card-content">
            <div class="row margin-0">
                <div class="col s6 m5 no-padding">Název:</div>
                <div class="col s6 m7 no-padding">
                    <strong>{{ order.paymentMethodName }}</strong>
                </div>
            </div>

            <div class="row margin-0">
                <div class="col s6 m5 no-padding">Cena:</div>
                <div class="col s6 m7 no-padding">
                    <strong>{{ order.paymentPriceWithVat }} Kč {% if vat_payer %}vč. DPH{% endif %}</strong>
                </div>
            </div>
        </div>
    </div>
</div>

{% if order.note is not null %}
    <div class="row">
        <h4>Poznámka</h4>

        <div class="card white black-text">
            <div class="card-content">
                <div class="row margin-0">
                    <div class="col s12 no-padding">
                        <span>{{ order.note }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="row right-align">
    {% if vat_payer %}
        <h5>{{ order.getTotalPriceWithoutVat(true) }} Kč celkem bez DPH</h5>
    {% endif %}

    <h5>
        <strong>{{ order.getTotalPriceWithVat(true) }} Kč {% if vat_payer %}vč. DPH {% endif %}celkem</strong>
    </h5>
</div>