{% if reviews is empty %}
    {% if template == 'index' %}
        <div class="row center-align">
            Nebyly nalezeny žádné recenze.
        </div>
    {% elseif template == 'overview' %}
        <div class="row left-align">
            Nebyly nalezeny žádné recenze. Klikněte na "+" pro napsání nové recenze.
        </div>
    {% endif %}
{% else %}
    <div class="row center-align">
        <h3>{{ agregateReviewData.average|number_format(1) }}<span class="grey-text">/5</span></h3>

        <div class="row amber-text accent-3">
            {# Hvězdy #}
            {{ include('fragments/_review_stars.html.twig', {stars: rating_to_stars(agregateReviewData.average)}) }}

            <div class="black-text">Celkem recenzí: {{ agregateReviewData.total }}</div>
        </div>
    </div>

    {% for review in reviews %}
        <div class="row">
            <div class="card white">
                <div class="card-content black-text">
                    <span class="card-title">{{ review.getUser().getNameFirst() }} {{ review.getUser().getNameLast() }}</span>

                    <div class="amber-text accent-3">
                        {# Hvězdy #}
                        {{ include('fragments/_review_stars.html.twig', {stars: rating_to_stars(review.getStars())}) }}
                    </div>

                    <small class="light">
                        {{ review.getCreated()|date('d. m. Y H:i:s') }}
                        {% if review.getCreated() != review.getUpdated() and review.getUpdated() is not null %}
                            (upraveno: {{ review.getUpdated()|date('d. m. Y H:i:s') }})
                        {% endif %}
                    </small>

                    {% if review.getText() is not null %}
                        <br><br>
                        <p>{{ review.getText() }}</p>
                    {% endif %}
                </div>

                {% set can_edit = is_granted('edit', review) %}
                {% set can_delete = is_granted('delete', review) %}

                {% if can_edit or can_delete %}
                    <div class="card-action">
                        {% if can_edit %}
                            <a href="{{ path('review_edit', {id: review.getId()}) }}">Upravit</a>
                        {% endif %}

                        {% if can_delete %}
                            <a href="{{ path('review_delete', {id: review.getId()}) }}">Smazat</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endif %}