{% extends 'base.html.twig' %}

{% block body %}

    {# Breadcrumbs #}
    {{ include('fragments/_breadcrumbs.html.twig') }}

    <div class="container">
        <div class="container">
            {# h1 #}
            {{ include('fragments/_h1.html.twig', {route: app.request.get('_route')}) }}

            {# Flash zprávy #}
            {{ include('fragments/_flash_messages.html.twig') }}

            <br>
            {{ form(registrationForm) }}

            <div class="section center-align">
                <div class="row">
                    Už máte účet? <a href="{{ path('login') }}">Přihlásit se</a>
                </div>
            </div>

            <div class="divider"></div>

            {# Social login #}
            {{ include('fragments/_social_login.html.twig', {actionName: 'zaregistrovat'}) }}
        </div>
    </div>
    <br><br>

{% endblock %}
