{% extends 'base.html.twig' %}

{% block title %} Registrace - {{ site_name }} {% endblock %}

{% block body %}

    <div class="container">
        <div class="container">
            <h1>Registrace</h1>

            {# Flash zprávy #}
            {{ include('fragments/_flash_messages.html.twig') }}

            <br>
            {{ form_start(registrationForm) }}
                <div class="row">
                    <div class="input-field">
                        {{ form_label(registrationForm.email) }}
                        {{ form_widget(registrationForm.email) }}
                    </div>
                    <span class="helper-text red-text">{{ form_errors(registrationForm.email) }}</span>
                </div>

                <div class="row">
                    <div class="input-field">
                        {{ form_label(registrationForm.plainPassword.repeated.first, 'Heslo') }}
                        {{ form_widget(registrationForm.plainPassword.repeated.first) }}
                    </div>
                    <span class="helper-text red-text">{{ form_errors(registrationForm.plainPassword.repeated.first) }}</span>
                </div>

                <div class="row">
                    <div class="input-field">
                        {{ form_label(registrationForm.plainPassword.repeated.second, 'Heslo znovu') }}
                        {{ form_widget(registrationForm.plainPassword.repeated.second) }}
                    </div>
                    <span class="helper-text red-text">{{ form_errors(registrationForm.plainPassword.repeated.second) }}</span>
                </div>

                <div class="row">
                    <label>
                        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'filled-in checkbox-light-blue'}}) }}
                        <span>Souhlasím s podmínkami používání</span>
                    </label>
                    <span class="helper-text red-text">{{ form_errors(registrationForm.agreeTerms) }}</span>
                </div>
                <br>

                <div class="center-align">
                    {{ form_widget(registrationForm.recaptcha) }}
                    <span class="helper-text red-text">{{ form_errors(registrationForm.recaptcha) }}</span>
                </div>
                <br><br>

                <div class="center-align">
                    <button type="submit" class="waves-effect waves-light btn-large light-blue">Zaregistrovat se</button>
                    <br><br>
                    <div>
                        Už máte účet? <a href="{{ path('login') }}">Přihlásit se</a>
                    </div>
                </div>
            {{ form_end(registrationForm) }}

            <br><br>
            <div class="divider"></div>

            {# Social login #}
            {{ include('fragments/_social_login.html.twig') }}
        </div>
    </div>
    <br><br>

{% endblock %}
