{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        {# Breadcrumbs #}
        {{ include('fragments/_breadcrumbs.html.twig') }}

        <div class="container">
            {# h1 #}
            {{ include('fragments/_h1.html.twig', {route: app.request.get('_route')}) }}

            {# Flash zprávy #}
            {{ include('fragments/_flash_messages.html.twig') }}

            <br>
            {{ form_start(resetForm) }}
                <div class="row">
                    <div class="input-field">
                        {{ form_label(resetForm.plainPassword.repeated.first, 'Heslo') }}
                        {{ form_widget(resetForm.plainPassword.repeated.first) }}
                    </div>
                    <span class="helper-text red-text">{{ form_errors(resetForm.plainPassword.repeated.first) }}</span>
                </div>

                <div class="row">
                    <div class="input-field">
                        {{ form_label(resetForm.plainPassword.repeated.second, 'Heslo znovu') }}
                        {{ form_widget(resetForm.plainPassword.repeated.second) }}
                    </div>
                    <span class="helper-text red-text">{{ form_errors(resetForm.plainPassword.repeated.second) }}</span>
                </div>

                <div class="center-align">
                    <button type="submit" class="waves-effect waves-light btn-large light-blue">Nastavit</button>
                </div>
            {{ form_end(resetForm) }}
        </div>
    </div>
    <br><br>

{% endblock %}
