{% extends 'base.html.twig' %}

{% block body %}

    {# Breadcrumbs #}
    {{ include('fragments/_breadcrumbs.html.twig') }}

    <div class="container">
        <div class="section">
            {# h1 #}
            {{ include('fragments/_h1.html.twig', {route: app.request.get('_route')}) }}

            {# Flash zprávy #}
            {{ include('fragments/_flash_messages.html.twig') }}

            <div class="row margin-0">
                <div class="col s12 l6">
                    <div class="row">
                        <h6>V případě problémů nás neváhejte kontaktovat!</h6>
                    </div>

                    <div class="row flex-wrap">
                        <div class="margin-right15px">
                            <i class="fas fa-phone-alt light-blue-text"></i>
                        </div>
                        <div>
                            <div>
                                <strong>Telefon:</strong>
                            </div>
                            <div>{{ site_phone }}</div>
                        </div>
                    </div>

                    <div class="row flex-wrap">
                        <div class="margin-right15px">
                            <i class="fas fa-envelope light-blue-text"></i>
                        </div>
                        <div>
                            <div>
                                <strong>E-mail:</strong>
                            </div>
                            <div>{{ site_email }}</div>
                        </div>
                    </div>

                    <div class="row flex-wrap">
                        <div class="margin-right15px">
                            <i class="fab fa-facebook-square light-blue-text"></i>
                        </div>
                        <div>
                            <div>
                                <strong>Facebook:</strong>
                            </div>
                            <a href="{{ site_facebook }}" target="_blank">Přejít <i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </div>

                    <div class="row flex-wrap">
                        <div class="margin-right15px">
                            <i class="fab fa-instagram light-blue-text"></i>
                        </div>
                        <div>
                            <div>
                                <strong>Instagram:</strong>
                            </div>
                            <a href="{{ site_instagram }}" target="_blank">Přejít <i class="fas fa-external-link-alt"></i></a>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="col s12 l6">
                    <div class="row">
                        <h6>Nebo nám pošlete e-mail přímo na {{ site_email }}:</h6>
                    </div>

                    {{ form(contactForm) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}