{% extends 'base.html.twig' %}

{% block body %}

    <div class="section no-pad-bot parallax-container valign-wrapper" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center white-text margin-0">Unikátní šperky z květů</h1>
            <div class="row center">
                <h5 class="header col s12 light white-text">Každý náš produkt je přírodní originál</h5>
            </div>
            <div class="row center">
                <a href="{{ path('products') }}" class="btn-large waves-effect waves-light blue">Nakupovat</a>
            </div>
            <br><br>
        </div>

        <div class="parallax">
            <img src="https://i.redd.it/l0ko8j4lzwi31.jpg" alt="Uvítací obázek" class="img-parralax">
        </div>
    </div>

    <div class="container">

        <div class="section">

            {# Flash zprávy #}
            {{ include('fragments/_flash_messages.html.twig') }}

            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text"><i class="material-icons">local_florist</i></h2>
                        <h5 class="center">Co děláme</h5>

                        <p class="light">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris metus. Nunc tincidunt ante vitae massa. In enim a arcu imperdiet malesuada. Curabitur vitae diam non enim vestibulum interdum. Nunc dapibus tortor vel mi dapibus sollicitudin.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">Kdo jsme</h5>

                        <p class="light">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris metus. Nunc tincidunt ante vitae massa. In enim a arcu imperdiet malesuada. Curabitur vitae diam non enim vestibulum interdum. Nunc dapibus tortor vel mi dapibus sollicitudin.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text"><i class="material-icons">favorite</i></h2>
                        <h5 class="center">Sledujte nás</h5>

                        <p class="light">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris metus. Nunc tincidunt ante vitae massa. In enim a arcu imperdiet malesuada. Curabitur vitae diam non enim vestibulum interdum. Nunc dapibus tortor vel mi dapibus sollicitudin.</p>
                    </div>
                </div>
            </div>

            <h2>
                Novinky
                <a href="{{ path('products') }}" class="btn-floating btn-medium waves-effect waves-light blue"><i class="material-icons">more_horiz</i></a>
            </h2>

            {# Produkty #}
            {{ include('fragments/_products.html.twig', {products: latestProducts, admin: false, large: true, can_edit: false, can_delete: false}) }}

            <h2>
                Recenze
                <a href="{{ path('reviews') }}" class="btn-floating btn-medium waves-effect waves-light blue"><i class="material-icons">more_horiz</i></a>
                <a href="{{ path('review_edit') }}" class="btn-floating btn-medium waves-effect waves-light grey"><i class="material-icons">mode_edit</i></a>
            </h2>

            {% if totalAndAverageRating.total is not empty %}
                <div class="row">
                    <div class="card white margin-0">
                        <div class="card-content valign-wrapper">
                            <div class="col s8 no-padding black-text left-align">
                                <div class="valign-wrapper">
                                    <h6 class="no-mar-bot no-mar-top margin-right5px">
                                        <strong>{{ totalAndAverageRating.average|number_format(1) }}</strong><span class="grey-text">/5</span>
                                    </h6>

                                    <span class="amber-text accent-3 valign-wrapper">
                                        {# Hvězdy #}
                                        {{ include('fragments/_review_stars.html.twig', {stars: rating_to_stars(totalAndAverageRating.average)}) }}
                                    </span>
                                </div>
                            </div>

                            <div class="col s4 no-padding right-align">
                                <h6 class="margin-0 grey-text">
                                    Celkem recenzí: <strong class="black-text">{{ totalAndAverageRating.total }}</strong>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="center-align">
                <div class="left-align">
                    {# Recenze #}
                    {{ include('fragments/_reviews.html.twig', {reviews: latestReviews}) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}