{% extends 'base.html.twig' %}

{% block body %}

    {# Breadcrumbs #}
    {{ include('fragments/_breadcrumbs.html.twig') }}

    <div class="container">
        {# h1 #}
        {{ include('fragments/_h1.html.twig') }}

        {# Flash zprávy #}
        {{ include('fragments/_flash_messages.html.twig') }}

        <div class="section">
            <div class="row margin-0">
                <div class="col s12 l6">
                    <div class="row">
                        <h6>Jak to funguje?</h6>
                    </div>

                    <div class="row flex-nowrap">
                        <div class="margin-right15px width-20px">
                            <i class="fas fa-envelope blue-text"></i>
                        </div>
                        <div class="width-max">
                            <div>
                                <strong>1. krok</strong>
                            </div>
                            <div>
                                <span>Pošlete nám nezávaznou poptávku popisující Vaše vysněné šperky.</span>
                            </div>
                        </div>
                    </div>

                    <div class="row flex-nowrap">
                        <div class="margin-right15px width-20px">
                            <i class="fas fa-dollar-sign blue-text"></i>
                        </div>
                        <div class="width-max">
                            <div>
                                <strong>2. krok</strong>
                            </div>
                            <div>
                                <span>Pokud si plácneme, pošleme Vám cenovou nabídku.</span>
                            </div>
                        </div>
                    </div>

                    <div class="row flex-nowrap">
                        <div class="margin-right15px width-20px">
                            <i class="fas fa-wallet blue-text"></i>
                        </div>
                        <div class="width-max">
                            <div>
                                <strong>3. krok</strong>
                            </div>
                            <div>
                                <span>Zaplaťte a dokončete objednávku.</span>
                            </div>
                        </div>
                    </div>

                    <div class="row flex-nowrap">
                        <div class="margin-right15px width-20px">
                            <i class="fas fa-gem blue-text"></i>
                        </div>
                        <div class="width-max">
                            <div>
                                <strong>4. krok</strong>
                            </div>
                            <div>
                                <span>Šperky vyrobíme a pošleme k Vám.</span>
                            </div>
                        </div>
                    </div>

                    <br>
                </div>

                <div class="col s12 l6">
                    <div class="row">
                        <h6>Pošlete nám nezávaznou poptávku na <strong>{{ site_email }}</strong> ještě dnes:</h6>
                    </div>

                    {{ form(contactForm) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}