{% extends 'base.html.twig' %}

{% block body %}

    {# Breadcrumbs #}
    {{ include('fragments/_breadcrumbs.html.twig') }}

    <div class="container">
        <h1>{{ breadcrumbs.getPageTitle() }}</h1>

        {# Flash zprávy #}
        {{ include('fragments/_flash_messages.html.twig') }}

        <div id="product-catalog-container">
            {# Obsah katalogu #}
            {{ include('fragments/forms_unique/_form_product_catalog.html.twig') }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('productFilter') }}
{% endblock %}