{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        {# Breadcrumbs #}
        {{ include('fragments/_breadcrumbs.html.twig') }}
    </div>

    <div class="container">
        {# Flash zprávy #}
        {{ include('fragments/_flash_messages.html.twig') }}

        <div class="col s12 section">
            <div class="row">
                <div class="col s12 l5">
                    <div class="row">
                        <div class="col s12">
                            {% set hasImages = productInstance.getImages()|length > 0 %}
                            {% if hasImages %}
                                <img src="{{ asset(productInstance.getMainImageName(), 'product_images') }}" class="materialboxed responsive-img" id="product-image-large" alt="Obrázek produktu">
                            {% else %}
                                <img src="{{ asset('no-image.png', 'images') }}" class="responsive-img" id="product-image-large" alt="Obrázek produktu">
                            {% endif %}
                        </div>
                    </div>

                    {% if hasImages %}
                        <div class="row flex-wrap">
                            {% for image in productInstance.getImages() %}
                                <div class="col s2 margin-0">
                                    <a href="javascript:void(0);" class="product-image-small-link">
                                        <img src="{{ asset(image.getName(), 'product_images') }}" class="responsive-img black-and-white-img" alt="Obrázek produktu">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="col s12 l6 offset-l1">
                    <h1 class="h3-fontsize no-mar-top">
                        {{ productInstance.getName() }}
                        {% if is_granted('product_edit') %}
                            <a href="{{ path('admin_product_edit', {id: productInstance.getId()}) }}" class="btn-floating btn-medium waves-effect waves-light light-blue"><i class="material-icons">mode_edit</i></a>
                        {% endif %}
                    </h1>

                    <div class="row">
                        <div class="col s12">
                            <h4 class="no-mar-top">
                                {{ productInstance.getPriceWithVat() }} Kč
                                {% if vat_payer %}
                                    vč. DPH
                                {% endif %}
                            </h4>

                            {% if not vat_payer %}
                                <em>Nejsme plátci DPH</em>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            {% if productInstance.isInStock() %}
                                <span class="green-text">Skladem {{ productInstance.getInventory() }} ks</span>
                            {% else %}
                                <span class="red-text">Není skladem</span>
                            {% endif %}
                        </div>
                    </div>

                    {% if productInstance.getDescriptionShort() is not same as(null) %}
                        <div class="row">
                            <div class="col s12">
                                {{ productInstance.getDescriptionShort() }}
                                {% if productInstance.getDescription() is not same as(null) %}
                                    <strong class="nowrap">
                                        <a href="javascript:void(0);" id="full-description-link">(Celý popis)</a>
                                    </strong>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col s12">
                            <span class="bold">ID produktu: </span>
                            {{ productInstance.getId() }}
                        </div>
                    </div>

                    {% if productInstance.getCategoryNamesGrouped()|length > 0 %}
                        <div class="row">
                            {% for categoryGroupName, categoryNames in productInstance.getCategoryNamesGrouped() %}
                                <div class="row margin-0">
                                    <div class="col s4 m3">
                                        <span class="bold">{{ categoryGroupName }}:</span>
                                    </div>
                                    <div class="col s8 m9">
                                        {{ categoryNames|join(', ') }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="section">
                        {{ form_start(cartInsertForm) }}
                            <div class="col s12">
                                {{ form_row(cartInsertForm.optionGroups) }}
                            </div>
                            <div class="row valign-wrapper flex-wrap">
                                <div class="col s3 input-field no-mar-bot">
                                    {{ form_widget(cartInsertForm.quantity, {'attr': {'class': 'margin-0'}}) }}
                                    {{ form_label(cartInsertForm.quantity) }}
                                    {{ form_help(cartInsertForm.quantity) }}
                                    {{ form_errors(cartInsertForm.quantity) }}
                                </div>
                                <div class="col s9 button-container-compound">
                                    <button class="btn-large waves-effect waves-light light-blue center-align" type="submit">
                                        Do košíku
                                    </button>
                                </div>
                            </div>
                        {{ form_end(cartInsertForm) }}
                    </div>
                </div>
            </div>

            {% if productInstance.getDescription() is not same as(null) %}
                <div class="row">
                    <div class="col s12 l9">
                        <h4 id="full-description">Popis</h4>
                        {{ productInstance.getDescription()|nl2br }}
                    </div>
                </div>
            {% endif %}

            {% if productInstance.getInfoValuesGrouped()|length > 0 %}
                <div class="row">
                    <div class="col s12">
                        <h4>Další informace</h4>
                    </div>

                    {% for infoGroupName, infoValues in productInstance.getInfoValuesGrouped() %}
                        <div class="row margin-0">
                            <div class="col s4 m3 l2">
                                <span class="bold">{{ infoGroupName }}:</span>
                            </div>
                            <div class="col s8 m9 l10">
                                {{ infoValues|join(', ') }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if relatedProducts|length > 0 %}
                <div class="row">
                    <div class="col s12">
                        <h4>Související produkty</h4>
                    </div>

                    {# Produkty #}
                    {{ include('fragments/_products.html.twig', {products: relatedProducts, admin: false, large: true, can_edit: false, can_delete: false}) }}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('productPage') }}
{% endblock %}