{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        {# Breadcrumbs #}
        {{ include('fragments/_breadcrumbs.html.twig') }}
    </div>

    <div class="container">
        {# Flash zprávy #}
        {{ include('fragments/_flash_messages.html.twig') }}

        <div class="col s12 section">
            <div class="row">
                <div class="col s12 l5">
                    <div class="row">
                        <div class="col s12">
                            {% set hasImages = productInstance.getImages()|length > 0 %}
                            {% if hasImages %}
                                <img src="{{ asset(productInstance.getMainImageName(), 'product_images') }}" class="materialboxed responsive-img" id="product-image-large" alt="Obrázek produktu">
                            {% else %}
                                <img src="{{ asset('no-image.png', 'images') }}" id="product-image-large" alt="Obrázek produktu">
                            {% endif %}
                        </div>
                    </div>

                    {% if hasImages %}
                        <div class="row flex-wrap">
                            {% for image in productInstance.getImages() %}
                                <div class="col s2 margin-0 valign-wrapper">
                                    <a href="" class="product-image-small-link">
                                        <img src="{{ asset(image.getName(), 'product_images') }}" class="responsive-img black-and-white-img" alt="Obrázek produktu">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="col s12 l6 offset-l1">
                    <h1 class="h3-fontsize no-mar-top">{{ productInstance.getName() }}</h1>

                    <div class="row">
                        <div class="col s12">
                            <h4 class="no-mar-top">
                                {{ productInstance.getPriceWithVat() }} CZK
                                {% if vat_payer %}
                                    vč. DPH
                                {% endif %}
                            </h4>

                            {% if not vat_payer %}
                                <em>Nejsme plátci DPH</em>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            {% if productInstance.isInStock() %}
                                <span class="green-text">Skladem {{ productInstance.getInventory() }} ks</span>
                            {% else %}
                                <span class="red-text">Není skladem</span>
                            {% endif %}
                        </div>
                    </div>

                    {% if productInstance.getDescription() is not same as(null) %}
                        <div class="row">
                            <div class="col s12">
                                {{ productInstance.getShortDescription() }}
                                {% if productInstance.isDescriptionLong() %}
                                    ...
                                    <strong>
                                        <a href="#full-description">(Celý popis)</a>
                                    </strong>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    {% if productInstance.getCategories() is not same as(null) %}
                        <div class="row">
                            {% for categoryGroupName, categoryNames in productInstance.getCategoryNamesGrouped() %}
                                <div class="row margin-0">
                                    <div class="col s4 m3">
                                        <span class="bold">{{ categoryGroupName }}:</span>
                                    </div>
                                    <div class="col s4 m3">
                                        {{ categoryNames|join(', ') }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>

            {% if productInstance.getDescription() is not same as(null) %}
                <div class="row" id="full-description">
                    <div class="col s12 l9">
                        <h4>Popis</h4>
                        <p>{{ productInstance.getDescription() }}</p>
                    </div>
                </div>
            {% endif %}

            {% if productInstance.getInfo() is not same as(null) %}
                <div class="row">
                    <div class="col s12">
                        <h4>Další informace</h4>
                    </div>

                    {% for infoGroupName, infoValues in productInstance.getInfoValuesGrouped() %}
                        <div class="row margin-0">
                            <div class="col s4 m3 l2">
                                <span class="bold">{{ infoGroupName }}:</span>
                            </div>
                            <div class="col s4 m3 l2">
                                {{ infoValues|join(', ') }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}