{% extends 'admin/admin_base.html.twig' %}

{% set can_edit = is_granted('product_edit') %}
{% set can_delete = is_granted('product_delete') %}

{% block admin_subheading_extra %}

    {% if can_edit %}
        <a href="{{ path('admin_product_edit') }}" class="btn-floating btn-medium waves-effect waves-light blue"><i class="material-icons">add</i></a>
    {% endif %}

{% endblock %}

{% block admin_body %}

    <div class="row">
        {# Formulář - vyhledávací pole, řazení #}
        {{ include('fragments/forms_unique/_form_search_order.html.twig', {form: searchForm}) }}
    </div>

    <div class="row">
        <h4>Výsledky ({{ pagination.getTotalItems() }})</h4>

        <div class="row no-mar-bot">
            {# Produkty #}
            {{ include('fragments/_products.html.twig', {products: products, admin: true, large: false, can_edit: can_edit, can_delete: can_delete}) }}
        </div>
    </div>

    {# Pagination #}
    {{ include('fragments/_pagination.html.twig') }}

{% endblock %}