{% extends 'admin/admin_base.html.twig' %}

{% block admin_body %}

    {# Časy vytvoření a aktualizace #}
    {{ include('fragments/_instance_created_updated.html.twig', {instance: productInstance}) }}

    {{ form_start(productForm) }}
        {{ form_row(productForm.name) }}
        {{ form_row(productForm.slug) }}
        {{ form_row(productForm.description) }}

        <div class="section no-pad-bot">
            <div class="row no-mar-bot">
                <h4>Viditelnost</h4>
            </div>

            {{ form_row(productForm.availableSince) }}
            {{ form_row(productForm.isHidden) }}
        </div>

        <div class="section no-pad-bot">
            <div class="row no-mar-bot">
                <h4>Cena</h4>
            </div>

            {{ form_row(productForm.priceWithoutVat) }}
            {{ form_row(productForm.vat) }}
        </div>

        <div class="section no-pad-bot">
            <div class="row">
                <div>
                    DPH: <strong class="js-output-amount-vat">0</strong> Kč
                </div>

                <div>
                    Cena s DPH: <strong class="js-output-price-with-vat">0</strong> Kč
                </div>
            </div>
        </div>

        <div class="section no-pad-bot">
            <div class="row no-mar-bot">
                <h4>Sekce</h4>
            </div>

            {{ form_row(productForm.section) }}
        </div>

        <div class="section no-pad-bot">
            <div class="row no-mar-bot">
                <h4>Kategorie</h4>
            </div>

            {{ form_row(productForm.categories) }}
        </div>

        <div class="section no-pad-bot">
            <div class="row no-mar-bot">
                <h4>Volby</h4>
            </div>

            {{ form_row(productForm.options) }}
        </div>

        <div class="section no-pad-bot">
            <div class="row no-mar-bot">
                <h4>Informace</h4>
            </div>

            {% if productForm.infoNew is defined %}
                <div class="row">
                    <ul class="tabs">
                        <li class="tab col s6">
                            <a href="#tab1">
                                Přidat z existujících skupin
                                {% if productForm.info.vars.valid is not same as(true) %}
                                    <i class="fas fa-exclamation-circle red-text"></i>
                                {% endif %}
                            </a>
                        </li>
                        <li class="tab col s6">
                            <a href="#tab2">
                                Přidat nové skupiny
                                {% if productForm.infoNew.vars.valid is not same as(true) %}
                                    <i class="fas fa-exclamation-circle red-text"></i>
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="row">
                    <div id="tab1" class="col s12">
                        {{ form_row(productForm.info, { 'attr': {'data-index': productForm.info|length > 0 ? productForm.info|last.vars.name + 1 : 0} }) }}
                        {{ form_row(productForm.addItem) }}
                    </div>
                    <div id="tab2" class="col s12">
                        {{ form_row(productForm.infoNew, { 'attr': {'data-index': productForm.infoNew|length > 0 ? productForm.infoNew|last.vars.name + 1 : 0} }) }}
                        {{ form_row(productForm.addItemNew) }}
                    </div>
                </div>
            {% else %}
                {{ form_row(productForm.info, { 'attr': {'data-index': productForm.info|length > 0 ? productForm.info|last.vars.name + 1 : 0} }) }}
                {{ form_row(productForm.addItem) }}
            {% endif %}
        </div>

        {{ form_rest(productForm) }}
    {{ form_end(productForm) }}

    {% if productInstance.getId() is not null and is_granted('product_delete') %}
        <div class="row center-align">
            <a href="{{ path('admin_product_delete', {id: productInstance.getId()}) }}">Smazat</a>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('productVatCalculator') }}
{% endblock %}