{% extends 'admin/admin_base.html.twig' %}

{% block admin_body %}

    <div class="row">Opravdu si přejete zrušit objednávku ID {{ orderInstance.id }}? Tato akce je nevratná.</div>

    {{ form_start(orderCancelForm) }}
        {% for cartOccurenceForm in orderCancelForm.children.cartOccurencesWithProduct.children %}
            {% set cartOccurence = cartOccurenceForm.vars.data %}
            {% set product_path = path('product', {slug: cartOccurence.product.slug}) %}

            <div class="row valign-wrapper">
                <a href="{{ product_path }}" class="margin-right15px">
                    <div class="img-cart-product">
                        <img alt="Obrázek produktu" class="responsive-img" src="{% if cartOccurence.product.mainImageName %} {{ asset(cartOccurence.product.mainImageName, 'product_images') }}  {% else %} {{ asset('no-image.png', 'images') }} {% endif %}">
                    </div>
                </a>
                <a href="{{ product_path }}">
                    <strong class="margin-0">{{ cartOccurence.product.name }} (ID: {{ cartOccurence.product.id }})</strong>
                    <div class="grey-text">{{ cartOccurence.quantity }} ks</div>
                </a>
            </div>

            {{ form_widget(cartOccurenceForm) }}
        {% endfor %}

        {{ form_rest(orderCancelForm) }}
    {{ form_end(orderCancelForm) }}

{% endblock %}