{% extends 'admin/admin_base.html.twig' %}

{% set can_edit_custom = is_granted('order_edit_custom') %}
{% set can_delete_custom = is_granted('order_delete_custom') %}
{% set can_edit = is_granted('order_edit') %}
{% set can_cancel = is_granted('order_cancel') %}

{% block admin_subheading_extra %}

    {% if can_edit_custom %}
        <a href="{{ path('admin_order_custom_edit') }}" class="btn-floating btn-medium waves-effect waves-light blue"><i class="material-icons">add</i></a>
    {% endif %}

{% endblock %}

{% block admin_body %}

    <div class="row">
        {# Formulář - vyhledávací pole, řazení, lifecycle #}
        {{ include('fragments/forms_unique/_form_search_order_orders.html.twig', {form: searchForm}) }}
    </div>

    <div class="row">
        <h4>Výsledky ({{ pagination.getTotalItems() }})</h4>

        {% if orders is empty %}
            Hledání neodpovídají žádné objednávky.
        {% else %}
            <div class="collection">
                {% for order in orders %}
                    <div class="collection-item valign-wrapper">
                        <div class="col s9 no-padding left-align">
                            <strong>Objednávka č. {{ order.id }}</strong>
                            <span>- {% if order.createdManually %}Na míru{% else %}Z katalogu{% endif %}</span>
                            <span>- {{ order.getLifecycleChapterName() }}</span>
                        </div>

                        <div class="col s3 no-padding right-align">
                            {% if order.isCreatedManually and order.isFresh() %}
                                {% if can_edit_custom %}
                                    <a href="{{ path('admin_order_custom_edit', {id: order.id}) }}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                {% endif %}

                                {% if can_delete_custom %}
                                    <a href="{{ path('admin_order_custom_delete', {id: order.id}) }}">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                {% endif %}
                            {% elseif not order.isFresh() %}
                                {% if can_edit %}
                                    <a href="b">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                {% endif %}

                                {% if can_cancel and not order.isCancelled() %}
                                    <a href="{{ path('admin_order_cancel', {id: order.id}) }}">
                                        <i class="fas fa-ban"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {# Pagination #}
    {{ include('fragments/_pagination.html.twig') }}

{% endblock %}