{% extends 'admin/admin_base.html.twig' %}

{% block admin_body %}

    <div class="row">
        <h4>Hledat</h4>

        {# Formulář - vyhledávací pole, řazení #}
        {{ include('fragments/forms_unique/_form_search_order.html.twig', {form: searchForm}) }}
    </div>

    <div class="row">
        <h4>Výsledky ({{ pagination.getTotalItems() }})</h4>

        {% if users is empty %}
            Hledání neodpovídají žádní uživatelé.
        {% else %}
            <div class="collection">
                {% for user in users %}
                    <div class="collection-item">
                        <strong>
                            {{ user.getEmail() }}
                        </strong>

                        {% if user.fullNameIsSet() %}
                            -
                            {% if user.genderIsSet() %}
                                {{ user.getGenderName() }}
                            {% endif %}

                            {{ user.getNameFirst() }} {{ user.getNameLast() }}
                        {% endif %}

                        {% if user.isMuted() %}
                            - <span class="red-text">UMLČEN</span>
                        {% endif %}

                        <a href=" {{ path('admin_user_management_specific', {id: user.getId()}) }} " class="secondary-content">
                            <i class="material-icons">create</i>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {# Pagination #}
    {{ include('fragments/_pagination.html.twig') }}

{% endblock %}