{% extends 'admin/admin_base.html.twig' %}

{% block admin_body %}

    <div class="row">
        <h4>Hledat</h4>

        {# Formulář - vyhledávací pole, řazení #}
        {{ include('fragments/forms_unique/_form_search_order.html.twig', {form: searchForm}) }}
    </div>

    <div class="row">
        <h4>Výsledky hledání</h4>
        {% if users is empty %}
            Hledání neodpovídají žádní uživatelé.
        {% else %}
            <div class="collection">
                {% for user in users %}
                    <a href=" {{ path('admin_user_management_specific', {id: user.getId()}) }} " class="collection-item">
                        {{ user.getEmail() }}
                        {% if user.fullNameIsSet() %}
                            <span class="black-text">
                                -
                                {% if user.genderIsSet() %}
                                    {{ user.getGenderName() }}
                                {% endif %}
                                {{ user.getNameFirst() }} {{ user.getNameLast() }}
                            </span>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {# Pagination #}
    {{ include('fragments/_pagination.html.twig') }}

{% endblock %}