{% extends 'admin/admin_base.html.twig' %}

{% block admin_body %}

    <div class="row">
        <h4>Hledat</h4>
        {{ form_start(searchForm) }}
            <div class="row">
                <div class="input-field col s12 l8">
                    {{ form_widget(searchForm.vyraz) }}
                    {{ form_label(searchForm.vyraz) }}
                    {{ form_help(searchForm.vyraz) }}
                    {{ form_errors(searchForm.vyraz) }}
                </div>
                <div class="input-field col s12 l4">
                    {{ form_widget(searchForm.razeni) }}
                    {{ form_label(searchForm.razeni) }}
                    {{ form_help(searchForm.razeni) }}
                    {{ form_errors(searchForm.razeni) }}
                </div>
            </div>
            <div class="row center-align">
                <button class="btn waves-effect waves-light btn-large light-blue" type="submit">
                    Hledat
                </button>
            </div>
        {{ form_end(searchForm) }}
    </div>

    <div class="row">
        <h4>Výsledky hledání</h4>
        {% if users is empty %}
            Hledání neodpovídají žádní uživatelé.
        {% else %}
            <div class="collection">
                {% for user in users %}
                    <a href=" {{ path('admin_user_management_specific', {id: user.getId()}) }} " class="collection-item">
                        {{ user.getEmail() }}
                        {% if user.fullNameIsSet() %}
                            <span class="black-text">
                                -
                                {% if user.genderIsSet() %}
                                    {{ user.getGenderName() }}
                                {% endif %}
                                {{ user.getNameFirst() }} {{ user.getNameLast() }}
                            </span>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {# Pagination #}
    {{ include('fragments/_pagination.html.twig') }}

{% endblock %}