{% extends 'admin/admin_base.html.twig' %}

{% block admin_body %}

    <div class="row">
        E-mail: {{ userEdited.getEmail() }}<br>
        Datum registrace: {{ userEdited.getRegistered()|date('d. m. Y H:i:s') }}<br>
    </div>

    {% if formCredentials is not null %}
        <div class="section no-pad-bot">
            <div class="row no-mar-bot">
                <h4>Osobní údaje</h4>
            </div>

            {{ form(formCredentials) }}
        </div>
    {% endif %}

    {% if formPermissions is not null %}
        <div class="section no-pad-bot">
            <div class="row no-mar-bot">
                <h4>Oprávnění</h4>
            </div>

            {{ form(formPermissions) }}
        </div>
    {% endif %}

    {% if formMute is not null %}
        <div class="section no-pad-bot">
            <div class="row">
                <h4>Psaní recenzí</h4>

                {% if userEdited.isMuted() %}
                    <div>Tento uživatel nemůže psát recenze.</div>
                {% else %}
                    <div>Tento uživatel může psát recenze.</div>
                {% endif %}
            </div>

            {{ form(formMute) }}
        </div>
    {% endif %}

{% endblock %}