{% extends 'admin/admin_base.html.twig' %}

{% block admin_body %}

    <div class="row">
        {# Formulář - vyhledávací pole, řazení #}
        {{ include('fragments/forms_unique/_form_search_order.html.twig', {form: searchForm}) }}
    </div>

    <div class="row">
        <h4>Výsledky ({{ pagination.getTotalItems() }})</h4>

        {% if users is empty %}
            Hledání neodpovídají žádní uživatelé.
        {% else %}
            <div class="collection">
                {% for user in users %}
                    <div class="collection-item valign-wrapper">
                        <div class="col s9 no-padding">
                            <strong>
                                {{ user.getEmail() }}
                            </strong>

                            {% if user.fullNameIsSet() %}
                                -
                                {% if user.genderIsSet() %}
                                    {{ user.getGender() }}
                                {% endif %}

                                {{ user.getFullName() }}
                            {% endif %}

                            {% if user.isMuted() %}
                                - <span class="red-text">UMLČEN</span>
                            {% endif %}
                        </div>

                        <div class="col s3 no-padding right-align">
                            <a href="{{ path('admin_user_management_specific', {id: user.getId()}) }}">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {# Pagination #}
    {{ include('fragments/_pagination.html.twig') }}

{% endblock %}