{% extends 'base.html.twig' %}

{% block body %}

    {# Breadcrumbs #}
    {{ include('fragments/_breadcrumbs.html.twig') }}

    <div class="container">

        {# h1 #}
        {{ include('fragments/_h1.html.twig', {route: app.request.get('_route')}) }}

        {# Flash zprávy #}
        {{ include('fragments/_flash_messages.html.twig') }}

        <div class="section">
            <div class="row">
                {{ form_start(reviewDeleteForm) }}
                    <div class="center-align">
                        <div class="row">Opravdu si přejete smazat svou recenzi? Tato akce je nevratná.</div>

                        <button type="submit" class="waves-effect waves-light btn-large red">Smazat</button>

                        {{ form_widget(reviewDeleteForm.hiddenTrue) }}
                        <span class="helper-text red-text">{{ form_errors(reviewDeleteForm.hiddenTrue) }}</span>
                    </div>
                {{ form_end(reviewDeleteForm) }}
            </div>
        </div>
    </div>

{% endblock %}