{% extends 'base.html.twig' %}

{% block body %}

    {# Breadcrumbs #}
    {{ include('fragments/_breadcrumbs.html.twig') }}

    <div class="container container-narrow">
        {# h1 #}
        {{ include('fragments/_h1.html.twig') }}

        {# Flash zprávy #}
        {{ include('fragments/_flash_messages.html.twig') }}

        <div class="section">
            {{ form(reviewForm) }}

            {% if review.getId() is not null and is_granted('review_delete', review) %}
                <div class="row center-align">
                    <a href="{{ path('review_delete', {id: review.getId()}) }}">Smazat</a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
