{% extends 'base.html.twig' %}

{% block body %}

    {# Breadcrumbs #}
    {{ include('fragments/_breadcrumbs.html.twig') }}

    <div class="container">

        {# h1 #}
        {{ include('fragments/_h1.html.twig', {route: app.request.get('_route')}) }}

        {# Flash zprávy #}
        {{ include('fragments/_flash_messages.html.twig') }}

        <div class="section">
            <div class="row center-align">
                <h3>{{ agregateReviewData.average|number_format(1) }}<span class="grey-text">/5</span></h3>

                <div class="row amber-text accent-3">
                    {# Hvězdy #}
                    {{ include('fragments/_review_stars.html.twig', {stars: rating_to_stars(agregateReviewData.average)}) }}

                    <div class="black-text">Celkem recenzí: {{ agregateReviewData.total }}</div>
                </div>
            </div>

            <div class="container left-align">
                {# Recenze #}
                {{ include('fragments/_reviews.html.twig', {reviews: reviews, showErrorIfEmpty: true}) }}
            </div>

            {# Pagination #}
            {{ include('fragments/_pagination.html.twig') }}
        </div>
    </div>

{% endblock %}
