{% extends 'base.html.twig' %}

{% block body %}

    {# Breadcrumbs #}
    {{ include('fragments/_breadcrumbs.html.twig') }}

    <div class="container left-align">
        {# h1 #}
        <h1>
            {{ get_parameter(['app_page_title', app.request.get('_route')]|join('.')) }}
            <a href="{{ path('review_edit') }}" class="btn-floating btn-medium waves-effect waves-light light-blue"><i class="material-icons">mode_edit</i></a>
        </h1>

        {# Flash zprávy #}
        {{ include('fragments/_flash_messages.html.twig') }}

        <div class="col s12">
            {# Formulář - vyhledávací pole, řazení #}
            {{ include('fragments/forms_unique/_form_search_order.html.twig', {form: searchForm}) }}
        </div>

        <div class="section no-pad-top">
            <h4>Výsledky ({{ pagination.getTotalItems() }})</h4>

            {# Recenze #}
            {{ include('fragments/_reviews.html.twig', {reviews: reviews}) }}

            {# Pagination #}
            {{ include('fragments/_pagination.html.twig') }}
        </div>
    </div>

{% endblock %}