{{ form_start(form) }}
    <div class="row">
        <div class="input-field col s12 l7">
            {{ form_widget(form.vyraz) }}
            {{ form_label(form.vyraz) }}
            {{ form_help(form.vyraz) }}
            {{ form_errors(form.vyraz) }}
        </div>
        <div class="input-field col s12 l4">
            {{ form_widget(form.razeni) }}
            {{ form_label(form.razeni) }}
            {{ form_help(form.razeni) }}
            {{ form_errors(form.razeni) }}
        </div>
        <div class="input-field col s12 l1">
            <button class="btn-floating btn-medium waves-effect waves-light light-blue" type="submit">
                <i class="material-icons">search</i>
            </button>
        </div>
    </div>
{{ form_end(form) }}