{{ form_start(filterForm) }}
    <p>
        Nalezeno produktů: {{ pagination.getTotalItems() }}
    </p>

    <div class="row margin-0">
        <div class="col s12 l3">
            <div class="row no-padding">
                <ul class="collapsible" id="product-filter-collapsible">
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">menu</i>
                            <strong>
                                <a>Filtr</a>
                            </strong>
                        </div>
                        <div class="collapsible-body no-padding">
                            <div class="collection with-header">
                                {# Sekce #}
                                <div class="collection-header grey lighten-4 valign-wrapper">
                                    <span class="bold">Sekce</span>
                                </div>
                                <a href="{{ path('products') }}" class="collection-item {% if app.request.get('slug') is same as(null) %}active{% endif %}">Všechny</a>
                                {% set filter_sections = navbar_service.getVisibleSections() %}
                                {% for section in filter_sections %}
                                    <a href="{{ path('products', {slug: section.getSlug()}) }}" class="collection-item {% if app.request.get('slug') is same as(section.getSlug()) %}active{% endif %}">{{ section.getName() }}</a>
                                {% endfor %}

                                {# Cena #}
                                <div class="collection-header grey lighten-4 valign-wrapper">
                                    <span class="bold">Cena (Kč)</span>
                                </div>
                                <div class="collection-item no-padding">
                                    <div class="col s12">
                                        <div class="col s10 offset-s1">
                                            <div class="section">
                                                <div id="catalog-price-slider" class="catalog-price-slider"></div>
                                            </div>
                                        </div>

                                        <div class="col s10 offset-s1">
                                            <div class="col s5">
                                                {{ form_row(filterForm.priceMin) }}
                                            </div>
                                            <div class="col s5 offset-s2">
                                                {{ form_row(filterForm.priceMax) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {# Kategorie #}
                                {% if filterForm.categories is defined %}
                                    {% for categoryGroup in filterForm.categories.vars.choices %}
                                        <div class="collection-header grey lighten-4 valign-wrapper">
                                            <span class="bold">{{ categoryGroup.label }}</span>
                                        </div>
                                        <div class="collection-item">
                                            {% for id, category in categoryGroup.choices %}
                                                {{ form_row(filterForm.categories.children[id]) }}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}

                                    {% if not filterForm.categories.vars.valid %}
                                        <div class="collection-item">
                                            {{ form_errors(filterForm.categories) }}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col s12 l8 offset-l1 offset-xl1">
            <div class="section no-pad-top">
                <div class="row">
                    <div class="row no-mar-bot">
                        <div class="col s12">
                            <div class="row no-mar-bot">
                                <div class="input-field col s12 l6">
                                    {{ form_widget(filterForm.phraseSort.phrase.text) }}
                                    {{ form_label(filterForm.phraseSort.phrase.text) }}
                                    {{ form_help(filterForm.phraseSort.phrase.text) }}
                                    {{ form_errors(filterForm.phraseSort.phrase.text) }}
                                </div>
                                <div class="input-field col s12 l4">
                                    {{ form_widget(filterForm.phraseSort.sort.sortBy) }}
                                    {{ form_label(filterForm.phraseSort.sort.sortBy) }}
                                    {{ form_help(filterForm.phraseSort.sort.sortBy) }}
                                    {{ form_errors(filterForm.phraseSort.sort.sortBy) }}
                                </div>
                                <div class="input-field col s12 l2">
                                    <div class="col s12">
                                        <div class="row">
                                            <button class="btn waves-effect waves-light blue width-max no-padding center-align" type="submit">
                                                Hledat
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if not filterForm.vars.valid %}
                            <div class="col s12">
                                <div class="col s12">
                                    <div class="row">
                                        <span class="red-text">Vaše hledání obsahuje již neplatné hodnoty, klikněte prosím znovu na tlačítko "Hledat".</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {# Produkty #}
                        {{ include('fragments/_products.html.twig', {products: products, admin: false, large: false, can_edit: false, can_delete: false}) }}
                    </div>
                </div>

                {# Pagination #}
                {{ include('fragments/_pagination.html.twig') }}
            </div>
        </div>
    </div>
{{ form_end(filterForm) }}