{% if cartForm.children.cartOccurences.children is empty %}
    <div class="row">
        Váš košík je prázdný. <a href="{{ path('products') }}">Zpět do obchodu</a>
    </div>
{% else %}
    <div class="row">
        {{ form_start(cartForm) }}
            <div class="collection z-depth-1" id="cart-wrapper" data-cart-remove-url="{{ path('cart_remove') }}">
                <div class="collection-item hide-on-med-and-down">
                    <div class="row no-mar-bot">
                        <div class="col s4">
                            <span>Produkt</span>
                        </div>
                        <div class="col s2">
                            <span>Dostupnost</span>
                        </div>
                        <div class="col s1">
                            <span>Množství</span>
                        </div>
                        <div class="col s2 offset-s1">
                            <span>Cena za kus {% if vat_payer %}vč. DPH{% endif %}</span>
                        </div>
                        <div class="col s2">
                            <span>Celkem {% if vat_payer %}vč. DPH{% endif %}</span>
                        </div>
                    </div>
                </div>

                {% for cartOccurence in cartForm.children.cartOccurences.children %}
                    {% set cartOccurenceData = cartOccurence.vars.data %}
                    <div class="collection-item">
                        <div class="row no-mar-bot valign-wrapper flex-wrap section">

                            {# Obrázek, název a volby #}
                            <div class="col s12 m10 l4 valign-wrapper">
                                {% set product_path = path('product', {slug: cartOccurenceData.product.slug}) %}

                                <a href="{{ product_path }}" class="margin-right15px">
                                    <div class="img-cart-product">
                                        <img alt="Obrázek produktu {{ cartOccurenceData.product.name }}" class="responsive-img" src="{% if cartOccurenceData.product.mainImageName %} {{ asset(cartOccurenceData.product.mainImageName, 'product_images') }}  {% else %} {{ asset('no-image.png', 'images') }} {% endif %}">
                                    </div>
                                </a>
                                <a href="{{ product_path }}">
                                    <strong class="margin-0">{{ cartOccurenceData.name }}</strong>
                                    <div class="grey-text">{{ cartOccurenceData.optionsString }}</div>
                                </a>
                            </div>

                            {# Tlačítko pro smazání - velká obrazovka #}
                            <div class="col m2 right-align hide-on-small-and-down hide-on-large-only hide-on-extra-large-only">
                                <a href="javascript:void(0);" class="btn-floating btn-medium waves-effect waves-light grey lighten-2 button-cart-remove tooltipped" data-position="bottom" data-tooltip="Vyndat" data-cart-occurence-id="{{ cartOccurenceData.id }}">
                                    <i class="material-icons black-text">close</i>
                                </a>
                            </div>

                            {# Počet ks skladem #}
                            <div class="col s8 m3 l2 margin-0">
                                <span class="green-text">Skladem {{ cartOccurenceData.product.inventory }} ks</span>
                            </div>

                            {# Množství #}
                            <div class="col s4 m3 l1 margin-0">
                                <div class="input-field no-mar-bot">
                                    {{ form_widget(cartOccurence.children.quantity) }}
                                    {{ form_label(cartOccurence.children.quantity) }}
                                    {{ form_errors(cartOccurence.children.quantity) }}
                                    {{ form_help(cartOccurence.children.quantity) }}
                                </div>
                            </div>

                            {# Cena za kus #}
                            <div class="col s12 m3 l1 offset-l1">
                                <span>{{ cartOccurenceData.priceWithVat }} Kč {% if vat_payer %}vč. DPH{% endif %}</span>
                                <span class="hide-on-large-only hide-on-extra-large-only">za kus</span>
                            </div>

                            {# Cena za kus * počet kusů #}
                            <div class="col s12 m3 l1 offset-l1">
                                <strong>{{ cartOccurenceData.priceWithVat * cartOccurenceData.quantity }} Kč {% if vat_payer %}vč. DPH{% endif %}<span class="hide-on-large-only hide-on-extra-large-only">celkem</span></strong>
                            </div>

                            {# Tlačítko pro smazání - velká obrazovka #}
                            <div class="col l1 right-align hide-on-med-and-down">
                                <a href="javascript:void(0);" class="btn-floating btn-medium waves-effect waves-light grey lighten-2 button-cart-remove tooltipped" data-position="bottom" data-tooltip="Vyndat" data-cart-occurence-id="{{ cartOccurenceData.id }}">
                                    <i class="material-icons black-text">close</i>
                                </a>
                            </div>

                            {# Tlačítko pro smazání - malá obrazovka #}
                            <div class="col s12 hide-on-med-and-up">
                                <div class="section no-pad-bot">
                                    <a href="javascript:void(0);" class="btn waves-effect waves-light grey lighten-2 button-cart-remove black-text" data-cart-occurence-id="{{ cartOccurenceData.id }}">
                                        Vyndat
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <input type="submit" hidden>
        {{ form_end(cartForm) }}
    </div>

    <div class="row right-align">
        {% if vat_payer %}
            <h5 class="no-mar-bot">{{ order.totalPriceWithoutVat }} Kč celkem bez DPH</h5>
        {% endif %}

        <h5 class="no-mar-bot">
            <strong>{{ order.totalPriceWithVat }} Kč {% if vat_payer %}vč. DPH {% endif %}celkem</strong>
        </h5>
    </div>

    <div class="row section right valign-wrapper flex-wrap">
        <div class="col margin-right15px">
            <a href="{{ path('products') }}">Zpět do obchodu</a>
        </div>

        <div>
            <a href="{{ path('order_methods') }}" class="btn-large waves-effect waves-light blue">Pokračovat</a>
        </div>
    </div>
{% endif %}