{{ form_start(form) }}
    <div class="row">
        <div class="input-field col s12 l6">
            {{ form_widget(form.vyraz) }}
            {{ form_label(form.vyraz) }}
            {{ form_help(form.vyraz) }}
            {{ form_errors(form.vyraz) }}
        </div>
        <div class="input-field col s12 l4">
            {{ form_widget(form.razeni) }}
            {{ form_label(form.razeni) }}
            {{ form_help(form.razeni) }}
            {{ form_errors(form.razeni) }}
        </div>
        <div class="input-field col s12 l2">
            <div class="col s12">
                <div class="row">
                    <button class="btn waves-effect waves-light light-blue width-max no-padding center-align" type="submit">
                        Hledat
                    </button>
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}