{% extends 'base.html.twig' %}

{% block body %}

    {# Breadcrumbs #}
    {{ include('fragments/_breadcrumbs.html.twig') }}

    <div class="container">
        <div class="container">
            {# h1 #}
            {{ include('fragments/_h1.html.twig', {route: app.request.get('_route')}) }}

            {# Flash zprávy #}
            {{ include('fragments/_flash_messages.html.twig') }}

            <div class="section">
                <form method="post">
                    <div class="row">
                        <div class="input-field">
                            <input type="email" value="{{ lastUsername }}" name="email" id="inputEmail" required="required" autofocus="autofocus"/>
                            <label for="inputEmail" class="required">Email:</label>

                            {% if error %}
                                <span class="helper-text red-text">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field">
                            <input type="password" id="inputPassword" name="password" required="required"/>
                            <label for="inputPassword" class="required">Heslo:</label>
                        </div>
                    </div>

                    {# <input type="hidden" name="_target_path" value="/account"/> #}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="row center-align">
                        <button type="submit" class="waves-effect waves-light btn-large light-blue">Přihlásit se</button>
                    </div>
                </form>

                <div class="row center-align">
                    {% if not granted.IS_AUTHENTICATED_REMEMBERED %}
                        <div>
                            Ještě nemáte účet? <a href="{{ path('register') }}">Zaregistrovat se</a>
                        </div>
                    {% endif %}
                    <div>
                        Zapomněli jste heslo? <a href="{{ path('forgot_password_request') }}">Obnovit</a>
                    </div>
                </div>

                <div class="divider row"></div>

                {# Social login #}
                {{ include('fragments/_social_login.html.twig', {actionName: 'přihlásit'}) }}
            </div>
        </div>
    </div>

{% endblock %}