{% extends 'base.html.twig' %}

{% block body %}

    {# Breadcrumbs #}
    {{ include('fragments/_breadcrumbs.html.twig') }}

    <div class="container">
        <div class="container">
            {# h1 #}
            {{ include('fragments/_h1.html.twig', {route: app.request.get('_route')}) }}

            {# Flash zprávy #}
            {{ include('fragments/_flash_messages.html.twig') }}

            <div class="section">
                {{ form(registrationForm) }}

                <div class="row center-align">
                    Už máte účet? <a href="{{ path('login') }}">Přihlásit se</a>
                </div>

                <div class="row divider"></div>

                {# Social login #}
                {{ include('fragments/_social_login.html.twig', {actionName: 'zaregistrovat'}) }}
            </div>
        </div>
    </div>

{% endblock %}