<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
        <title>
            {% if breadcrumbs_service is defined and breadcrumbs_service.pageTitle|length > 0 %}
                {{ breadcrumbs_service.pageTitle }} -
            {% endif %}
            {{ site_name }}
        </title>

        <!-- CSS -->
        {% block stylesheets %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <div class="navbar-fixed">
            <nav class="white lighten-1" role="navigation">
                <div class="nav-wrapper container">
                    <a id="logo-container" href="{{ path('home') }}" class="black-text brand-logo bold">ŠPERKY</a>
                    <ul class="right hide-on-med-and-down">
                        {% set path_order_cart = path('order_cart') %}
                        {% set is_authenticated_remembered = is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        {% set can_enter_admin = is_granted('admin_permission_overview') %}
                        {% set navbar_sections = navbar_service.getVisibleSections() %}
                        {% set navbar_sections_count = navbar_sections|length %}

                        {% if navbar_sections_count > 0  %}
                            <ul id="dropdown_sections_desktop" class="dropdown-content">
                                <li><a href="{{ path('products') }}" class="black-text">Všechny</a></li>
                                {% for section in navbar_sections %}
                                    <li><a href="{{ path('products', {slug: section.getSlug()}) }}" class="black-text">{{ section.getName() }}</a></li>
                                {% endfor %}
                            </ul>
                            <li>
                                <a href="#!" class="dropdown-trigger black-text" data-target="dropdown_sections_desktop"> <i class="material-icons left">filter_vintage</i> Produkty <i class="material-icons right">arrow_drop_down</i></a>
                            </li>
                        {% else %}
                            <li><a href="{{ path('products') }}" class="black-text"> <i class="material-icons left">filter_vintage</i> Produkty</a></li>
                        {% endif %}

                        <li><a href="{{ path_order_cart }}" class="black-text"> <i class="material-icons left">shopping_cart</i> Košík <span class="cart-badge light-blue white-text navbar-cart-total-products">{{ cart_service.getTotalProducts() }}</span></a></li>

                        {% if is_authenticated_remembered %}
                            {% if can_enter_admin %}
                                <li><a href="{{ path('admin_permission_overview') }}" class="black-text tooltipped" data-position="bottom" data-tooltip="Administrace"> <i class="material-icons">build</i></a></li>
                            {% endif %}

                            <li><a href="{{ path('profile') }}" class="black-text tooltipped" data-position="bottom" data-tooltip="Profil"> <i class="material-icons">account_circle</i></a></li>
                            <li><a href="{{ path('logout') }}" class="black-text tooltipped" data-position="bottom" data-tooltip="Odhlásit"><i class="material-icons">meeting_room</i></a></li>
                        {% else %}
                            <li><a href="{{ path('login') }}" class="black-text"> <i class="material-icons left">vpn_key</i> Přihlásit se</a></li>
                        {% endif %}
                    </ul>

                    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="black-text material-icons">menu</i></a>
                </div>
            </nav>
        </div>

        <ul id="nav-mobile" class="sidenav">
            {% if navbar_sections_count > 0  %}
                <ul id="dropdown_sections_mobile" class="dropdown-content black-text">
                    <li><a href="{{ path('products') }}" class="black-text">Všechny</a></li>
                    {% for section in navbar_sections %}
                        <li><a href="{{ path('products', {slug: section.getSlug()}) }}">{{ section.getName() }}</a></li>
                    {% endfor %}
                </ul>
                <li>
                    <a href="#!" class="dropdown-trigger" data-target="dropdown_sections_mobile"> <i class="material-icons left">filter_vintage</i> Produkty <i class="material-icons right margin-0">arrow_drop_down</i></a>
                </li>
            {% else %}
                <li><a href="{{ path('products') }}"> <i class="material-icons left">filter_vintage</i> Produkty</a></li>
            {% endif %}

            <li><a href="{{ path_order_cart }}"> <i class="material-icons left">shopping_cart</i> Košík <span class="cart-badge light-blue white-text navbar-cart-total-products">{{ cart_service.getTotalProducts() }}</span></a></li>

            {% if is_authenticated_remembered %}
                {% if can_enter_admin %}
                    <li><a href="{{ path('admin_permission_overview') }}"> <i class="material-icons left">build</i> Admin</a></li>
                {% endif %}

                <li><a href="{{ path('profile') }}"> <i class="material-icons left">account_circle</i> Profil</a></li>
                <li><a href="{{ path('logout') }}"> <i class="material-icons left">meeting_room</i> Odhlásit se</a></li>
            {% else %}
                <li><a href="{{ path('login') }}"> <i class="material-icons left">vpn_key</i> Přihlásit se</a></li>
            {% endif %}
        </ul>

        <main>
            {% block body %}

            {% endblock %}

            <div id="modal-loader" class="modal modal-loader">
                <div class="modal-content center-align">
                    <div class="section">
                        <div class="preloader-wrapper big active">
                            <div class="spinner-layer spinner-black-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h6 id="modal-loader-text">Načítání...</h6>
                </div>
            </div>

            <div id="modal-cart-insert" class="modal">
                <div class="modal-content">
                    <div class="row">
                        <h4 id="modal-error-heading" class="no-mar-top valign-wrapper"><i class="material-icons green-text medium margin-right15px">check</i>Zboží vloženo do košíku</h4>
                    </div>

                    <div class="row section" id="modal-content-cart-insert-inner"></div>

                    <div class="row no-mar-bot valign-wrapper flex-wrap">
                        <div class="col s4 left-align">
                            <a href="javascript:void(0);" class="btn-large waves-effect grey lighten-2 black-text modal-close hide-on-small-and-down">Zavřít</a>
                            <a href="javascript:void(0);" class="btn-floating btn-large waves-effect grey lighten-2 modal-close hide-on-med-and-up">
                                <i class="material-icons black-text">arrow_back</i>
                            </a>
                        </div>

                        <div class="col s8 right-align">
                            <a href="{{ path_order_cart }}" class="btn-large waves-effect light-blue white-text hide-on-small-and-down">Pokračovat do košíku</a>
                            <a href="{{ path_order_cart }}" class="btn-floating btn-large waves-effect light-blue white-text hide-on-med-and-up">
                                <i class="material-icons">shopping_cart</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="modal-error" class="modal">
                <div class="modal-content">
                    <h4 id="modal-error-heading">Chyba</h4>
                    <p id="modal-error-text">Něco se pokazilo.</p>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="modal-close waves-effect light-blue-text btn-flat">Zavřít</a>
                </div>
            </div>
        </main>

        <footer class="page-footer grey darken-4">
            <div class="container">
                <div class="col s12">
                    <div class="row">
                        <div class="col l6 s12">
                            <h5 class="white-text">Company Bio</h5>
                            <p class="grey-text">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
                        </div>
                        <div class="col l3 s12">
                            <h5 class="white-text">Settings</h5>
                            <ul>
                                <li><a class="grey-text" href="#">Link 1</a></li>
                                <li><a class="grey-text" href="#">Link 2</a></li>
                                <li><a class="grey-text" href="#">Link 3</a></li>
                                <li><a class="grey-text" href="#">Link 4</a></li>
                            </ul>
                        </div>
                        <div class="col l3 s12">
                            <h5 class="white-text">Connect</h5>
                            <ul>
                                <li><a class="grey-text" href="#">Link 1</a></li>
                                <li><a class="grey-text" href="#">Link 2</a></li>
                                <li><a class="grey-text" href="#">Link 3</a></li>
                                <li><a class="grey-text" href="#">Link 4</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright black">
                <div class="container">
                    &copy; {{ "now"|date("Y") }} {{ site_name }}
                </div>
            </div>
        </footer>

        <!--  Scripts -->
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>