<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
        <title>
            {% block title %}
                {% if breadcrumbs is defined %}
                    {{ breadcrumbs.getPageTitle() }} -
                {% endif %}

                {{ site_name }}
            {% endblock %}
        </title>

        <!-- CSS -->
        {% block stylesheets %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <div class="navbar-fixed">
            <nav class="white lighten-1" role="navigation">
                <div class="nav-wrapper container">
                    <a id="logo-container" href="{{ path('home') }}" class="black-text brand-logo bold">ŠPERKY</a>
                    <ul class="right hide-on-med-and-down">
                        {% set is_authenticated_remembered = is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        {% set can_enter_admin = is_granted('admin_permission_overview') %}
                        {% set sections = navbar_service.getVisibleSections() %}
                        {% set sections_count = sections|length %}

                        {% if sections_count > 0  %}
                            <ul id="dropdown_sections_desktop" class="dropdown-content">
                                <li><a href="{{ path('products') }}" class="black-text">Všechny</a></li>
                                {% for section in sections %}
                                    <li><a href="{{ path('products', {slug: section.getSlug()}) }}" class="black-text">{{ section.getName() }}</a></li>
                                {% endfor %}
                            </ul>
                            <li>
                                <a href="#!" class="dropdown-trigger black-text" data-target="dropdown_sections_desktop"> <i class="material-icons left">filter_vintage</i> Produkty <i class="material-icons right">arrow_drop_down</i></a>
                            </li>
                        {% else %}
                            <li><a href="{{ path('products') }}" class="black-text"> <i class="material-icons left">filter_vintage</i> Produkty</a></li>
                        {% endif %}

                        <li><a href="#" class="black-text"> <i class="material-icons left">shopping_cart</i> Košík <span class="cart-badge light-blue white-text">25</span></a></li>

                        {% if is_authenticated_remembered %}
                            {% if can_enter_admin  %}
                                <ul id="dropdown_nav_profile_desktop" class="dropdown-content">
                                    <li><a href=" {{ path('profile') }} " class="black-text">Osobní</a></li>
                                    <li><a href=" {{ path('admin_permission_overview') }} " class="black-text">Admin</a></li>
                                </ul>
                                <li>
                                    <a href="#!" class="dropdown-trigger black-text" data-target="dropdown_nav_profile_desktop"> <i class="material-icons left">account_circle</i> Profil <i class="material-icons right">arrow_drop_down</i></a>
                                </li>
                            {% else %}
                                <li><a href=" {{ path('profile') }} " class="black-text"> <i class="material-icons left">account_circle</i> Profil</a></li>
                            {% endif %}

                            <li><a href=" {{ path('logout') }} " class="black-text"> <i class="material-icons left">meeting_room</i> Odhlásit se</a></li>
                        {% else %}
                            <li><a href=" {{ path('login') }} " class="black-text"> <i class="material-icons left">vpn_key</i> Přihlásit se</a></li>
                        {% endif %}
                    </ul>

                    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="black-text material-icons">menu</i></a>
                </div>
            </nav>
        </div>

        <ul id="nav-mobile" class="sidenav">
            {% if sections_count > 0  %}
                <ul id="dropdown_sections_mobile" class="dropdown-content black-text">
                    <li><a href="{{ path('products') }}" class="black-text">Všechny</a></li>
                    {% for section in sections %}
                        <li><a href="{{ path('products', {slug: section.getSlug()}) }}">{{ section.getName() }}</a></li>
                    {% endfor %}
                </ul>
                <li>
                    <a href="#!" class="dropdown-trigger" data-target="dropdown_sections_mobile"> <i class="material-icons left">filter_vintage</i> Produkty <i class="material-icons right margin-0">arrow_drop_down</i></a>
                </li>
            {% else %}
                <li><a href=" {{ path('products') }} "> <i class="material-icons left">filter_vintage</i> Produkty</a></li>
            {% endif %}

            <li><a href="#"> <i class="material-icons left">shopping_cart</i> Košík <span class="cart-badge light-blue white-text">25</span></a></li>

            {% if is_authenticated_remembered %}
                {% if can_enter_admin  %}
                    <ul id="dropdown_nav_profile_mobile" class="dropdown-content black-text">
                        <li><a href=" {{ path('profile') }} ">Osobní</a></li>
                        <li><a href=" {{ path('admin_permission_overview') }} ">Admin</a></li>
                    </ul>
                    <li>
                        <a href="#!" class="dropdown-trigger" data-target="dropdown_nav_profile_mobile"> <i class="material-icons left">account_circle</i> Profil <i class="material-icons right margin-0">arrow_drop_down</i></a>
                    </li>
                {% else %}
                    <li><a href=" {{ path('profile') }} "> <i class="material-icons left">account_circle</i> Profil</a></li>
                {% endif %}

                <li><a href=" {{ path('logout') }} "> <i class="material-icons left">meeting_room</i> Odhlásit se</a></li>
            {% else %}
                <li><a href=" {{ path('login') }} "> <i class="material-icons left">vpn_key</i> Přihlásit se</a></li>
            {% endif %}
        </ul>

        <main>
            {% block body %}

            {% endblock %}
        </main>

        <footer class="page-footer grey darken-4">
            <div class="container">
                <div class="col s12">
                    <div class="row">
                        <div class="col l6 s12">
                            <h5 class="white-text">Company Bio</h5>
                            <p class="grey-text">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
                        </div>
                        <div class="col l3 s12">
                            <h5 class="white-text">Settings</h5>
                            <ul>
                                <li><a class="grey-text" href="#">Link 1</a></li>
                                <li><a class="grey-text" href="#">Link 2</a></li>
                                <li><a class="grey-text" href="#">Link 3</a></li>
                                <li><a class="grey-text" href="#">Link 4</a></li>
                            </ul>
                        </div>
                        <div class="col l3 s12">
                            <h5 class="white-text">Connect</h5>
                            <ul>
                                <li><a class="grey-text" href="#">Link 1</a></li>
                                <li><a class="grey-text" href="#">Link 2</a></li>
                                <li><a class="grey-text" href="#">Link 3</a></li>
                                <li><a class="grey-text" href="#">Link 4</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright black">
                <div class="container">
                    &copy; {{ "now"|date("Y") }} {{ site_name }}
                </div>
            </div>
        </footer>

        <!--  Scripts -->
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>