{% extends 'base.html.twig' %}

{% block body %}

    {# Breadcrumbs #}
    {{ include('fragments/_breadcrumbs.html.twig') }}

    <div class="container">
        {# h1 #}
        {{ include('fragments/_h1.html.twig') }}

        {# Flash zprávy #}
        {{ include('fragments/_flash_messages.html.twig') }}

        {# Navigace aktivní objednávky #}
        {{ include('fragments/_order_nav.html.twig', {'orderPageNumber': 3, 'orderToken': token}) }}

        {{ form_start(orderAddressesForm) }}
            <div class="row flex-wrap">
                <div class="col s12 l7">
                    <div class="row">
                        {{ form_errors(orderAddressesForm) }}
                    </div>

                    <div class="row">
                        <h4>Osobní údaje</h4>
                    </div>

                    <div class="row no-mar-bot">
                        <div class="row no-mar-bot text-fields-compound">
                            <div class="input-field col s12 m6">
                                {{ form_widget(orderAddressesForm.addressDeliveryNameFirst) }}
                                {{ form_label(orderAddressesForm.addressDeliveryNameFirst) }}
                                {{ form_help(orderAddressesForm.addressDeliveryNameFirst) }}
                                {{ form_errors(orderAddressesForm.addressDeliveryNameFirst) }}
                            </div>
                            <div class="input-field col s12 m6">
                                {{ form_widget(orderAddressesForm.addressDeliveryNameLast) }}
                                {{ form_label(orderAddressesForm.addressDeliveryNameLast) }}
                                {{ form_help(orderAddressesForm.addressDeliveryNameLast) }}
                                {{ form_errors(orderAddressesForm.addressDeliveryNameLast) }}
                            </div>
                        </div>
                    </div>

                    {{ form_row(orderAddressesForm.email) }}
                    {{ form_row(orderAddressesForm.phoneNumber) }}

                    <div class="row">
                        <h4>Dodací adresa</h4>

                        {% if not order.addressDeliveryLocked and app.user is not null %}
                            <div class="col s12">
                                <div class="row">
                                    <a id="load-address-delivery" href="javascript:void(0);">Načíst z uložených adres</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    {% if order.addressDeliveryLocked %}
                        <div class="row no-mar-bot">
                            <div class="card">
                                <div class="card-content">
                                    <div class="row">
                                        <div class="col s12">
                                            <h6 class="no-mar-top">
                                                <i class="fas fa-truck margin-right5px"></i> <strong>{{ order.deliveryMethodName }}</strong>
                                            </h6>
                                        </div>
                                    </div>

                                    <div class="row no-mar-bot">
                                        <div class="col s6 m4">
                                            Země:
                                        </div>
                                        <div class="col s6 m8">
                                            <strong>{{ order.addressDeliveryCountry }}</strong>
                                        </div>

                                        <div class="col s6 m4">
                                            Ulice a č. popisné:
                                        </div>
                                        <div class="col s6 m8">
                                            <strong>{{ order.addressDeliveryStreet }}</strong>
                                        </div>

                                        <div class="col s6 m4">
                                            Obec:
                                        </div>
                                        <div class="col s6 m8">
                                            <strong>{{ order.addressDeliveryTown }}</strong>
                                        </div>

                                        <div class="col s6 m4">
                                            PSČ:
                                        </div>
                                        <div class="col s6 m8">
                                            <strong>{{ order.addressDeliveryZip }}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {{ form_row(orderAddressesForm.addressDeliveryCountry) }}
                        {{ form_row(orderAddressesForm.addressDeliveryStreet) }}
                        {{ form_row(orderAddressesForm.addressDeliveryAdditionalInfo) }}
                        {{ form_row(orderAddressesForm.addressDeliveryTown) }}
                        {{ form_row(orderAddressesForm.addressDeliveryZip) }}
                    {% endif %}

                    <div class="row">
                        <h4>Fakturační adresa</h4>

                        {% if app.user is not null %}
                            <div class="col s12">
                                <div class="row">
                                    <a id="load-address-billing" href="javascript:void(0);">Načíst z uložených adres</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    {{ form_row(orderAddressesForm.billingAddressChecked) }}

                    <div id="billing-address-fields">
                        <div class="row no-mar-bot">
                            <div class="row text-fields-compound">
                                <div class="input-field col s12 m6">
                                    {{ form_widget(orderAddressesForm.addressBillingNameFirst) }}
                                    {{ form_label(orderAddressesForm.addressBillingNameFirst) }}
                                    {{ form_help(orderAddressesForm.addressBillingNameFirst) }}
                                    {{ form_errors(orderAddressesForm.addressBillingNameFirst) }}
                                </div>
                                <div class="input-field col s12 m6">
                                    {{ form_widget(orderAddressesForm.addressBillingNameLast) }}
                                    {{ form_label(orderAddressesForm.addressBillingNameLast) }}
                                    {{ form_help(orderAddressesForm.addressBillingNameLast) }}
                                    {{ form_errors(orderAddressesForm.addressBillingNameLast) }}
                                </div>
                            </div>
                        </div>

                        {{ form_row(orderAddressesForm.addressBillingCountry) }}
                        {{ form_row(orderAddressesForm.addressBillingStreet) }}
                        {{ form_row(orderAddressesForm.addressBillingAdditionalInfo) }}
                        {{ form_row(orderAddressesForm.addressBillingTown) }}
                        {{ form_row(orderAddressesForm.addressBillingZip) }}
                    </div>

                    <div class="row">
                        <h4>Firma</h4>
                    </div>

                    {{ form_row(orderAddressesForm.companyChecked) }}

                    <div id="company-fields">
                        {{ form_row(orderAddressesForm.addressBillingCompany) }}
                        {{ form_row(orderAddressesForm.addressBillingIc) }}
                        {{ form_row(orderAddressesForm.addressBillingDic) }}
                    </div>

                    <div class="row">
                        <h4>Poznámka</h4>
                    </div>

                    {{ form_row(orderAddressesForm.noteChecked) }}

                    <div id="note-container">
                        {{ form_row(orderAddressesForm.note) }}
                    </div>

                    <div class="row">
                        <h4>Souhlas</h4>
                    </div>

                    {{ form_row(orderAddressesForm.agreePrivacyAndTerms) }}
                </div>

                <div class="col s12 l4 container-sticky-bottom offset-l1 offset-xl1">
                    <div class="row no-mar-bot sticky-bottom">
                        {# Souhrn objednávky #}
                        {{ include('fragments/_order_summary.html.twig', {'order': order}) }}

                        <div class="row section right margin-0 valign-wrapper flex-wrap">
                            <div class="col margin-right15px">
                                <a href="{{ path('order_methods', {'token': token}) }}">Zpět</a>
                            </div>

                            <button class="btn-large waves-effect waves-light blue" type="submit">Objednat</button>
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(orderAddressesForm) }}
    </div>

    {% if app.user is not null %}
        <div id="modal-addresses" class="modal">
            <div class="modal-content">
                <h4 id="modal-error-heading">Vaše uložené adresy</h4>

                {% set addresses = app.user.addresses %}
                {% if addresses is empty %}
                    <p>Nemáte uložené žádné adresy.</p>
                {% else %}
                    <div class="col s12 section">
                        <div class="row">
                            <div class="input-field col s12">
                                <select id="addresses-select" data-url="{{ path('order_address_load') }}">
                                    <option value="" disabled selected>-- vyberte adresu --</option>
                                    {% for address in addresses %}
                                        <option value="{{ address.id }}">{{ address.alias }}</option>
                                    {% endfor %}
                                </select>
                                <label>Adresy</label>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" class="modal-close waves-effect blue-text btn-flat">Zavřít</a>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('orderAddresses') }}
{% endblock %}