{% extends 'base.html.twig' %}

{% block body %}

    {# Breadcrumbs #}
    {{ include('fragments/_breadcrumbs.html.twig') }}

    <div class="container">
        {# h1 #}
        {{ include('fragments/_h1.html.twig') }}

        <div id="flash-container">
            {# Flash zprávy #}
            {{ include('fragments/_flash_messages.html.twig') }}
        </div>

        {# Navigace aktivní objednávky #}
        {{ include('fragments/_order_nav.html.twig', {'orderPageNumber': 1, 'orderToken': null}) }}

        <div id="cart-container">
            {# Formulář košíku, nebo text o tom, že je prázdný #}
            {{ include('fragments/forms_unique/_form_cart_update.html.twig', {'cartForm': cartForm}) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('cart') }}
{% endblock %}