{% extends 'base.html.twig' %}

{% block body %}

    {# Breadcrumbs #}
    {{ include('fragments/_breadcrumbs.html.twig') }}

    <div class="container">
        {# h1 #}
        {{ include('fragments/_h1.html.twig') }}

        <div id="flash-container">
            {# Flash zprávy #}
            {{ include('fragments/_flash_messages.html.twig') }}
        </div>

        <div class="row">
            <div class="section no-pad-top">
                <ul class="tabs z-depth-1">
                    <li class="tab col s4 selected"><a target="_self" href="">1. Košík</a></li>
                    <li class="tab col s4">2. Doprava a platba</li>
                    <li class="tab col s4">3. Dodací údaje</li>
                </ul>
            </div>
        </div>

        <div id="cart-container" class="row">
            {# Formulář košíku, nebo text o tom, že je prázdný #}
            {{ include('fragments/forms_unique/_form_cart_update.html.twig') }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cart') }}
{% endblock %}