{% extends 'base.html.twig' %}

{% block body %}

    {# Breadcrumbs #}
    {{ include('fragments/_breadcrumbs.html.twig') }}

    <div class="container">
        {# h1 #}
        {{ include('fragments/_h1.html.twig') }}

        {# Flash zprávy #}
        {{ include('fragments/_flash_messages.html.twig') }}

        {# Navigace aktivní objednávky #}
        {{ include('fragments/_order_nav.html.twig', {'orderPageNumber': 2, 'orderToken': token}) }}

        <div class="order-methods-wrapper">
            {# Způsob dopravy a způsob platby #}
            {{ include('fragments/forms_unique/_form_order_methods.html.twig', {'orderMethodsForm': orderMethodsForm, 'order': order, 'token': token}) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('orderMethods') }}
{% endblock %}